#home{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:auto;
    width:85%;
}

#header{
    text-align: center;
}

#footer{
    text-align: center;
}

.project{
    border:2px solid black;
    p{
        margin:1%;
    }
    h3{
        margin:1%;
    }
}

.scrollable-canvas{
    overflow-x:scroll;
}

h2{
    font-weight: normal;
}

pre{
    overflow-x: scroll;
}
