body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}

header {
    text-align: center;
    padding: 2rem;
    background-color: rgb(0, 161, 97);
    color: white;
}

section {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
}

pre{
    overflow-x: scroll;
}

footer{
    text-align: center;
    padding:2rem;
    background-color: #f1f1f1;
}

.canvas {
  width: 100%;        /* fill its parent container */
  height: auto;       /* scale height to maintain aspect */
  max-width: 800px;   /* optional: cap at your “design” width */
  display: block;     /* remove inline-block whitespace issues */
  margin: 0 auto;     /* center on large screens */
}

.project{
    border:2px solid black;
    p{
        margin:1%;
    }
    h3{
        margin:1%;
    }
}

